<div class="table-container">
    <div class="label">
        <div class="heading">Description</div>
        <div class="heading">Details</div>
    </div>
    <div *ngFor ="let label of labels" class="data-rows">
        <div class="description">{{label}}</div>
        <div class="inner-table">
            <div *ngFor="let data of categoryData[label]" class="inner-row">
                <div class="cell">{{data.date}}</div>
                <div class ="cell">{{data.amount | currency:"INR"}}</div>
            </div>
            <div class="totals">
                <strong>Total:</strong> {{ getTotal(categoryData[label]) | currency:'INR' }}
            </div>
        </div>
    </div>
</div>